<div class="row my-5">
  <div class="col">
    <h1 class="text-center mb-5">회원정보수정</h1>
    <div class="card p-5">
      <form name="frm" method="post">
        <div class="input-group my-2">
          <div class="input-group-text px-5">성명</div>
          <input class="form-control" name="name" value="나잘난" />
        </div>
        <div class="input-group my-2">
          <div class="input-group-text px-5">주소</div>
          <input class="form-control" name="address" value="서울특별시 금천구 가산디지털2로" />
        </div>
        <div class="input-group my-2">
          <div class="input-group-text px-5">전화</div>
          <input class="form-control" name="phone" value="010-1010-2020" />
        </div>
        <div>
          <img id="fileName" src="https://placehold.co/200x200" width="30%" />
          <input class="form-control mt-2" type="file" id="file" accept="image/*" />
        </div>
        <div class="text-center mt-3">
          <button class="btn-primary btn px-5">정보수정</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="module">
  import { app } from '/javascripts/firebase.js';
  import { getFirestore, setDoc, doc, collection, getDoc } from 'https://www.gstatic.com/firebasejs/12.5.0/firebase-firestore.js';
  import ImageUploader from '/javascripts/image_upload.js'
  const db = getFirestore(app)
  console.log(db);
  const imageUploader = new ImageUploader()
  const fileInput = document.querySelector("#file")
  const fileName = document.querySelector("#fileName")
  //이미지 파일 선택/업로드
  fileInput.addEventListener('change', function(e){
    const file = e.target.files[0]
    if(file){
      const reader = new FileReader()
      // 파일 읽기가 완료되면 실행될 이벤트 핸들러
      reader.onload = function(e){
        //선택한 이미지의 미리보기 이미지 업데이트 해주기
        fileName.src = e.target.result
      }//end of onload event
      //파일을 Data URL로 읽기
      reader.readAsDataURL(file)
    }
  })//end of change event handler

</script>

<!-- 
  //이미지 파일 선택했을 때 onchange 발동
  //사용자가 input에서 파일을 선택한다.
  //change 이벤트가 발동
  //fileReader로 선택한 파일을 Data URL 읽음
  //읽기가 끝난 후 그 결과를 <img>태그에 src에 삽입한다.
  //브라우저가 그 파일을 화면에 이미지로 출력해준다.
  //1. change이벤트 등록
  //fileInput.addEventListener('change', function(){})
  //2. 선택된 파일 가져오기
  //const file = event.target.files[0]
  //console.log(file) file이 참이면 
  //3. 파일을 미리보기를 위해서 필요한 객체를 생성한다. -메모리에 로딩한다.
  //왜 메모리에 띄워놓지? 그 객체가 소유하고 있는 속성이나 메서드를 호출 할 수 있다.
  // const reader = new FileReader() /인스턴스화?
  //4. 파일 읽기가 완료되면 실행할 함수를 지정해줘
  // reader.onload = function(event){
    // 미리보기에 대한 이미지를 업데이트 해준다.
    // fileNameImg.src = event.target.result
    // <img src="XXXX.png"/>
  // }
  //5. 실제로 파일을 읽기 시작
  //reader.readAsDeaultURL(file)
-->
