<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/man4.png" alt="Avatar Logo" style="width: 40px" class="rounded-pill" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 카렌더 </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/calendar/calendar1">일정버전1</a></li>
            <li><a class="dropdown-item" href="/calendar/calendar2">일정버전2</a></li>
            <li><a class="dropdown-item" href="/calendar/calendar3">일정버전3</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">게시판</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 유튜브 </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/youtube/youtube1">인기동영상</a></li>
            <li><a class="dropdown-item" href="/youtube/youtube2">동영상검색</a></li>
            <li><a class="dropdown-item" href="/youtube/youtube3">쇼츠검색</a></li>
          </ul>
        </li>
        <!-- 최초에는 보이지 않고 있다가 로그인이 성공하고 나면 보이게 한다. -->
        <li class="nav-item" id="cart" style="display: none;">
          <a class="nav-link" href="#">장바구니</a>
        </li>
        <li class="nav-item" id="mypage" style="display: none;">
          <a class="nav-link" href="/users/mypage">마이페이지</a>
        </li>

      </ul>
      <!-- 로그인, 로그아웃, 로그인한 이메일주소 -->
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="login">
            <a class="nav-link active" href="/login">로그인</a>
          </li>
          <li class="nav-item" id="myEmail" style="display: none;">
            <a class="nav-link active" href="#">로그인한 이메일주소</a>
          </li>
          <li class="nav-item" id="logout" style="display: none;">
            <a class="nav-link active" href="#">로그아웃</a>
          </li>
        </ul>
      </div>


      <!-- 로그인, 로그아웃, 로그인한 이메일주소 -->
    </div>
  </div>
</nav>
<script type="module">
  //로그아웃 버튼 클릭시 이벤트 처리하기
  const logout = document.querySelector("#logout")
  logout.addEventListener('click', function(){
    console.log('로그아웃호출 성공');
    //로컬 스토리지 저장된 uid와 email을 삭제한다.
    //키는 중복불가함.
    //저장할 땐 localStorage.setItem("키","값")
    //삭제할 땐 localStorage.removeItem("키")
    //읽어올 땐 localStorage.getItem("키")
    //2개이상을 한번에 삭제할 땐 localStorage.clear()
    window.localStorage.removeItem("uid")
    window.localStorage.removeItem("email")
    //아래에서는 페이지 이동이 일어난다.
    location.href = "/login"
  })
</script>