<div class="row mt-5 justify-content-end">
  <div class="col-6 col-md-4">
    <form id="f_title">
      <div class="input-group">
        <input type="text" id="query" name="query" class="form-control" value="자바" />
        <button class="btn btn-success" type="submit">검색</button>
      </div>
    </form>
  </div>
</div>
<hr />

<!-- 검색 결과 출력 영역 -->
<div class="row" id="list_book"></div>

<!-- Handlebars 템플릿 -->
<script type="text/x-handlebars-template" id="temp-book">
  {{#each documents}}
    <div class="col-6 col-md-4 col-lg-2">
      <div class="card my-2">
        <div class="card-body text-center">
          <img src="{{image thumbnail}}" index="{{@index}}" alt="도서이미지" style="cursor:pointer; width:80%" />
          <div class="ellipsis mt-2">{{title}}</div>
        </div>
        <div class="card-footer text-center" style="font-size:0.9rem;">
          {{format price}}
          <span class="cart ms-3" book="{{book @this}}" style="cursor:pointer; color:green;">CART</span>
        </div>
      </div>
      <%-include("bookModal.ejs") %>
    </div>
  {{/each}}
</script>

<!-- Handlebars 헬퍼 등록 -->
<script>
  Handlebars.registerHelper("image", function(thum) {
    return thum || "https://placehold.co/120x174";
  });
  Handlebars.registerHelper("format", function(price) {
    return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',') + '원';
  });
  Handlebars.registerHelper("book", function(book) {
    return JSON.stringify(book);
  });
</script>

<script type="module">
  // Handlebars 가 documents(Array(10))를 빙글빙글 돌면서
  // 카드레이아웃하나 + 모달 하나가 같이 찍히는 구조입니다. 
  // 즉 카드 하나당 모달 하나를 가지도록 설계하였다.
  // 카드 이미지 클릭 -> index/book data 이용해서 모달을 열어준다.
  //모달 내용은 bookModal.ejs 에 있다.
  // 이미지에는 index="{{@index}}"를 넣어서 몇번째 책인지를 JS에서 알수있도록 하였다.
  // <%-include("bookModal.ejs")%> 를 통해서 EJS에서 모달 창 HTML을 
  // 카드 마다 삽입해 두고 나중에 JS로 모달을 열어서 상세 정보를 볼 수 있게 한다. 
  // 장바구니 이벤트와 이미지 클릭시 상세 보기 모달을 띄워서 상세내용을 확인하고 
  // 장바구니 담기 버튼을 누른다!
  // 두 가지를 같이 처리할 수 있도록 이벤트 핸들러 함수를 설계해본다.
  const listEL = document.querySelector("#list_book")
  //목록 영역 클릭 이벤트(장바구니 & 이미지 모달처리)
  listEL.addEventListener('click',function(e){
    const target = e.target
    //const target = e.currentTarget
    //Cart 클릭했을 떄
    if(target.classListcontains('cart')){
      console.log('cart 클릭 성공!');
    }

    //이미지 클릭했을 때
    //이미지를 클릭했을 때를 비교해야 하는데 is도 없고 name도 없다. 어떡함?
    //해결방법은 tagName은 있다.
    //Caution!!: tagName으로 element를 비교할 때는 반드시 '대문자'로 비교할 것
    if(target.tagName == 'IMG'){
      console.log('이미지를 클릭했을 때');
      const index = target.getAttribute('index')//0,1,2,,,,9
      console.log(`index: ${index}`);
      const modelEL = document.querySelector(`modal${index}`)
      if(modelEl && window.bootstrap){
        //index.ejs에 bootstrap 객체가 import 되어 있으므로 사용이 가능함
        // bootstrap 이 제공하는 Modal 객체를 생성하고 그 객체가 제공하는
        // show() 호출하여 화면에 모달이 출력되게 한다. 

        const modal = new bootstrap.Modal(modalEl)
        modal.show()
      }
    }

  })
  // 검색 전에도 디폴트 페이지가 출력되도록 query는 null or undefined 가 되지 않도록 할 것
  let query = document.querySelector("#query").value
  // 사용자가 입력한 책 제목으로 검색하기
  // 검색 폼 제출하기(submit이슈)
  document.querySelector("#f_title").addEventListener('submit',function(event){
    event.preventDefault()
    query = document.querySelector("#query").value
    const page = 1
    getBookList(query, page)
  })

  // 도서 리스트 조회
  function getBookList(query, page=0){
    console.log(`사용자가 입력한 책 제목: ${query}`);
    const url = new URL('https://dapi.kakao.com/v3/search/book')
    url.searchParams.set('target','title')
    url.searchParams.set('query',query)
    url.searchParams.set('page',page)

    fetch(url, {
      headers: { 'Authorization':'KakaoAK 0f482122874cbd1aab9eb1d125afb5e6'}
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data); //is-end, total_count:1836
          //핸들바스템플릿 가져오기
          const source = document.querySelector("#temp-book").innerHTML
          //템플릿 컴파일 - 매핑(데이터와 테이블태그 머지)
          const template = Handlebars.compile(source)
          //데이터와 html렌더링
          const html = template(data)
          //결과 출력
          document.querySelector("#list_book").innerHTML = html
      })
      .catch((error) => console.error(error));

  }//end of getBookList
  getBookList(query, 1)
</script>